body {
  padding-top: 60px;
  margin: 0;
  font-family:'Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F5F5F5 !important;
  background-image: url('../img/fon.png');
  background-size:cover;
  justify-content: center;

}
